{{- $name := promptStringOnce . "name" "What's your name? (for git commits and such)" -}}
{{- $email := promptStringOnce . "email" "What's your email address?" -}}
{{- $hostTypes := list "personal" "work" -}}
{{- $hostType := promptChoiceOnce . "hostType" "What type of computer is this?" $hostTypes  -}}

sourceDir: "~/Preferences"
data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  hostType: {{ $hostType | quote }}
  enable_ghostty_shader: false
  small_keyboard_tilde_ghostty: false
