.DS_Store
Preferences_*.tar.gz
emacs/elpa/
irssi/away.log
irssi/nickserv.*
muttrc
vim/.netrwhist
vim/backups
vim/mru
vim/spell/
vim/swap
vim/tags
vim/undo
vim/view
vim/vim-fuf
zsh/.zcompcache
zsh/.zcompdump
zsh/help
zsh/local
zsh/uname.cache
zsh/.zcalc_history
*~
*.elc
*.pyc
*.swp
*.zwc
/elisp-init/init-local.el
/emacs-settings.el
/emacs-settings.html
/Brewfile.lock.json
