*~

vim/backups
vim/mru
vim/swap
vim/view
vim/vim-fuf
vim/.netrwhist
vim/spell/
vim/bundle/

*.zwc
zsh/uname.cache
zsh/.zcompdump
zsh/.zcompcache
zsh/local
zsh/.zcalc_history

irssi/away.log
irssi/nickserv.*

emacs.d/plugins/org-7.5
emacs.d/custom.el
emacs.d/elpa

muttrc

*.pyc
