[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/xoria256.vim"]
	path = vim/bundle/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "vim/bundle/Gundo"]
	path = vim/bundle/Gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "zsh/plugins/zsh-synyax-highlighting.git"]
	path = zsh/plugins/zsh-synyax-highlighting.git
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
