{{- if (and .enable_ghostty_shader (stat (joinPath .chezmoi.homeDir "code/others/ghostty-shaders"))) -}}
# custom-shader = /Users/dkertesz/code/others/ghostty-shaders/cursor_blaze.glsl
custom-shader = /Users/dkertesz/code/others/ghostty-shaders/gears-and-belts.glsl
{{- end }}

# theme = Embark
# theme = Gruvbox Dark Hard
theme = Monokai Pro Octagon
# theme = Popping and Locking

# To overwrite the font in config.local, first you need to set font-family to "", otherwise
# it will be picked up as a fallback font.
font-family = Iosevka
font-size = 15.5

# font-family = JetBrainsMono Nerd Font Mono
# font-size = 13.5

window-inherit-working-directory = false
tab-inherit-working-directory = false
split-inherit-working-directory = true

# optional local configuration file; see https://ghostty.org/docs/config#splitting-into-multiple-files
config-file = ?config.local

{{ if .small_keyboard_tilde_ghostty -}}
keybind = shift+escape=text:~
{{- end }}
