[submodule "src/org"]
	path = src/org
	url = http://orgmode.org/org-mode.git
[submodule "src/magit"]
	path = src/magit
	url = http://github.com/philjackson/magit.git
[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/auctex"]
	path = src/auctex
	url = http://github.com/eschulte/auctex.git
[submodule "src/zenburn-emacs"]
	path = src/zenburn-emacs
	url = http://github.com/bbatsov/zenburn-emacs.git
